/* Reset de estilos padrão */
body, h1, p, label, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para o cabeçalho */
  header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 36px;
  }
  
  /* Estilos para o formulário de reserva */
  #reservation-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type="date"],
  input[type="time"],
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para a seção de disponibilidade de mesas (a ser preenchida com JavaScript) */
  #availability {
    margin-top: 20px;
  }
  
  /* Estilos para dispositivos móveis */
  @media screen and (max-width: 768px) {
    #reservation-form {
      width: 90%;
    }
  }
  